@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'cooper';
  src: url('./assets/fonts/CooperHewitt/CooperHewitt-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
